@using BolShpping.Models.BLL
@model List<Favourite>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area breadcramb-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Wish List</h2>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Wish List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@{
    decimal totalCount = 0;
    decimal productCount = 0;
}
<!-- breadcrumb-area end -->
<!-- main-content-warpper start -->
<div class="main-content-warpper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class=" table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="plantmore-product-remove">remove</th>
                                    <th class="plantmore-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="plantmore-product-price">Unit Price</th>
                                    <th class="plantmore-product-stock-status">Stock Status</th>
                                    <th class="plantmore-product-add-cart">add to cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td>
                                            <div class="alert alert-danger" role="alert">
                                                This is a danger alert—check it out!
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="plantmore-product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                            <td class="plantmore-product-thumbnail"><a href="#"><img alt="" src="~/img/"></a></td>
                                            <td class="plantmore-product-name">@item.Product.Name<a href="#"></a></td>
                                            <td class="plantmore-product-price"><span class="amount">$@item.Product.Price</span></td>
                                            <td class="plantmore-product-stock-status"><span class="in-stock">in stock</span></td>
                                            <td class="plantmore-product-add-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- main-content-warpper end -->
